#nav1{
    display: flex;
    font-size: 2.5dvh;
    justify-content: space-between;
}
#div1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#box1{
    width: 100px;
    height: 40px;
    margin-right: auto;
}
#box2{
    width: 100px;
    height: 40px;
    margin-left: auto;
}
#box3{
    width: 100px;
    height: 40px;
    margin-left: 90vw;
}
button{
    width: 1/3dvw;
    height: 40px;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 1dvh;
}
